version: '3'

services:
  postgres:
    image: postgres:16.2-alpine
    hostname: db
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: rinha
    ports:
      - "5432:5432"
    volumes:
      - ./internal/infra/postgres:/docker-entrypoint-initdb.d
